{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier"],
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "classes": true
  },
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": "error",
    "arrow-parens": ["error", "always"],
    "max-len": ["error", 120],
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 4 }],
    "no-use-before-define": "off"
  }
}
